Django==2.2.8
entrypoints==0.3
flake8==3.7.8
mccabe==0.6.1
mysql-connector-python==8.0.17
protobuf==3.9.1
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pyflakes==2.1.1
python-dotenv==0.10.3
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
